<!-- Response map -->
<section class="page" ng-init="sectionInit()">
<a class="back-button" href="#/building/{{id}}/section/{{section}}"></a>
    <!-- Section #1 floor directive -->
    <div class="map-frame">
        <!-- Background map image -->
        <img class="bg-img" src="../../images/maps/tahiti/building_{{id}}_section_{{section}}.png">
        <div class="map-info" >
            <img  class="map-plans"   width="1950" height="1096" src="">
            <map >
                <area ng-repeat="(i, path) in maps" shape="poly" coords="{{path}}" alt="{{i+1}}" target="floor-1"  nohref="nohref" />
            </map>

        </div>
        <div ng-if="id == '9a'">
            <div class="rooms-popup" ng-if="section == 1">
                <div class="room-number" data-target="1" style="top: 27%;left: 62%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="2" style="top: 40%;left: 76%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="3" style="top: 59%;left: 76%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="4" style="top: 72%;left: 49%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="5" style="top: 72%;left: 36%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="6" style="top: 66%;left: 15%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="7" style="top: 34%;left: 15%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="8" style="top: 34%;left: 36%;">
                    № {{ number }}
                </div>
            </div>
            <div class="rooms-popup" ng-if="section == 2">
                <div class="room-number" data-target="1" style="top: 32%;left: 62%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="2" style="top: 32%;left: 82%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="3" style="top: 68%;left: 82%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="4" style="top: 68%;left: 62%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="5" style="top: 68%;left: 41%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="6" style="top: 68%;left: 35%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="7" style="top: 32%;left: 15%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="8" style="top: 32%;left: 28%;">
                    № {{ number }}
                </div>
            </div>
        </div>
        <div ng-if="id == '30'">
            <div class="rooms-popup" ng-if="section == 1">
                <div class="room-number" data-target="1" style="top: 66%;left: 32%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="2" style="top: 64%;left: 15%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="3" style="top: 26%; left: 22%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="4" style="top: 32%;left: 32%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="5" style="top: 29%;left: 49%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="6" style="top: 29%;left: 68%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="7" style="top: 28%;left: 82%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="8" style="top: 68%;left: 82%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="9" style="top: 66%;left: 64%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="10" style="top: 66%;left: 52%;">
                    № {{ number }}
                </div>
            </div>
            <div class="rooms-popup" ng-if="section == 2">
                <div class="room-number" data-target="1" style="top: 66%;left: 32%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="2" style="top: 64%;left: 15%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="3" style="top: 26%; left: 22%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="4" style="top: 32%;left: 32%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="5" style="top: 29%;left: 49%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="6" style="top: 29%;left: 68%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="7" style="top: 28%;left: 82%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="8" style="top: 68%;left: 82%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="9" style="top: 66%;left: 64%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="10" style="top: 66%;left: 52%;">
                    № {{ number }}
                </div>
            </div>
        </div>
        <div ng-if="id == '29a'">
            <div class="rooms-popup" ng-if="section == 1">
                <div class="room-number" data-target="1" style="top: 66%;left: 32%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="2" style="top: 64%;left: 15%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="3" style="top: 26%; left: 22%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="4" style="top: 32%;left: 32%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="5" style="top: 29%;left: 49%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="6" style="top: 29%;left: 68%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="7" style="top: 28%;left: 82%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="8" style="top: 68%;left: 82%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="9" style="top: 66%;left: 64%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="10" style="top: 66%;left: 52%;">
                    № {{ number }}
                </div>
            </div>
            <div class="rooms-popup" ng-if="section == 2">
                <div class="room-number" data-target="1" style="top: 66%;left: 32%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="2" style="top: 64%;left: 15%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="3" style="top: 26%; left: 22%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="4" style="top: 32%;left: 32%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="5" style="top: 29%;left: 49%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="6" style="top: 29%;left: 68%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="7" style="top: 28%;left: 82%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="8" style="top: 68%;left: 82%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="9" style="top: 66%;left: 64%;">
                    № {{ number }}
                </div>
                <div class="room-number" data-target="10" style="top: 66%;left: 52%;">
                    № {{ number }}
                </div>
            </div>
        </div>
        <!-- Message -->
        <div class="sale-message">
            {{ message }}
        </div>
    </div>
</section>
