<!-- Response map -->
<section class="page" ng-init="sectionInit()">
    <!-- Section #2 floor directive -->
    <div class="map-frame">
        <!-- Background map image -->
        <img class="bg-img" src="assets/images/maps/tahiti/floor-section-2.jpg">
        <div class="map-info" >
            <img class="map-plans"   width="1950" height="1096" src="">
            <map>
                <area shape="poly" coords="599,535,505,534,504,273,236,272,235,881,506,881,506,620,599,620" alt="1" target="flat-1"  nohref="nohref" />
                <area shape="poly" coords="506,881,775,879,776,620,506,621" alt="2" target="flat-2"  nohref="nohref" />
                <area shape="poly" coords="775,879,1046,880,1046,619,776,620" alt="3" target="flat-3"  nohref="nohref" />
                <area shape="poly" coords="1046,880,1431,880,1432,619,1046,618" alt="4" target="flat-4"  nohref="nohref" />
                <area shape="poly" coords="1431,880,1702,880,1702,534,1599,535,1599,619,1432,619" alt="5" target="flat-5"  nohref="nohref" />
                <area shape="poly" coords="1702,534,1701,272,1431,273,1432,535" alt="6" target="flat-6"  nohref="nohref" />
                <area shape="poly" coords="1431,273,1161,272,1160,535,1432,535" alt="7" target="flat-7"  nohref="nohref" />
                <area shape="poly" coords="504,273,890,274,890,534,506,534" alt="8" target="flat-8"  nohref="nohref" />
            </map>
        </div>
    </div>
</section>