<div class="page">
<img class="bg-img" src="../../images/backgrounds/tipovii-dogovor.png">

<!-- Download buttons -->
<div class="download-buttons">
    <a href="public/documents/dogovor.pdf"  class="d-button">
        <img src="../../images/other/pdf.png">
        <div>Скачать в PDF</div>
    </a>
    <a href="" class="d-button">
        <img src="../../images/other/doc.png">
        <div>Скачать в Word</div>
    </a>
    <a href="" class="d-button">
        <img src="../../images/other/rtf.png">
        <div>Скачать в RTF</div>
    </a>
    <!-- PRINT -->
    <a href="" ng-click="printPdf()" class="d-button">
        <img src="../../images/other/print.png">
        <div>Распечатать</div>
    </a>
</div>

<div class="left-sidebar">
        <div><span style="color: rgb(23, 43, 93);">управляющая компания</span> | договор</div>
</div>

<div class="contract">
    
    <img src="../../images/dogovor/Page1-min.jpg">
    <img src="../../images/dogovor/Page2-min.jpg">
    <img src="../../images/dogovor/Page3-min.jpg">
    <img src="../../images/dogovor/Page4-min.jpg">
    <img src="../../images/dogovor/Page5-min.jpg">
    <img src="../../images/dogovor/Page6-min.jpg">
    <img src="../../images/dogovor/dodatok 1-min.jpg">
    <img src="../../images/dogovor/dodatok 2-min.jpg">
    <img src="../../images/dogovor/dodatok 3-min.jpg">
</div>

</div>