<div class="price">
	<table class="price-table">



<tr>
<td valign="top">
<h3>I. ТАРИФЫ <span style="line-height: 1.3em;" mce_style="line-height: 1.3em;"> для дома по ул. Марсельская, 48</span></h3>
<h3>а)Тариф СДПТ составляет 4,91 грн./кв.м</h3>
<h3>Смета расходов по исполнению услуг и работ на содержание дома и придомовой территории</h3>
<table border="0" cellspacing="2" cellpadding="2" class="mceItemTable">
<tbody>
<tr>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p align="center"><strong><span style="font-size: small;" mce_style="font-size: small;">№</span></strong></p>
<p align="center"><strong><span style="font-size: small;" mce_style="font-size: small;">п\п</span></strong></p>
</td>
<td style="border: 1px solid #999999;" mce_style="border: 1px solid #999999;" valign="middle">
<p align="center"><span style="font-size: small;" mce_style="font-size: small;"><strong>Вид </strong><strong style="line-height: 1.3em;" mce_style="line-height: 1.3em;">услуги по содержанию домов и сооружений и придомовых территорий</strong></span></p>
</td>
<td style="border: 1px solid #999999;" mce_style="border: 1px solid #999999;" valign="middle">
<p style="text-align: center;" mce_style="text-align: center;"><span style="font-size: small;" mce_style="font-size: small;"><b>П</b><strong>ериодичность</strong></span></p>
<p style="text-align: center;" mce_style="text-align: center;"><strong><span style="font-size: small;" mce_style="font-size: small;"> предоставления</span></strong></p>
<p style="text-align: center;" mce_style="text-align: center;"><strong><span style="font-size: small;" mce_style="font-size: small;"> услуги</span></strong></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p align="center"><strong><span style="font-size: small;" mce_style="font-size: small;">Тариф</span></strong></p>
<p align="center"><strong><span style="font-size: small;" mce_style="font-size: small;">за 1 кв.м. ,</span></strong></p>
<p align="center"><strong><span style="font-size: small;" mce_style="font-size: small;"> грн/месяц</span></strong></p>
</td>

</tr>
<tr>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><strong><span style="font-size: small;" mce_style="font-size: small;">1</span></strong></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><span style="font-size: small;" mce_style="font-size: small;">Уборка придомовой территории</span></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p align="center"><span style="font-size: small;" mce_style="font-size: small;">**</span></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p align="center"><span style="font-size: small;" mce_style="font-size: small;"><strong>0,598</strong></span></p>
</td>

</tr>
<tr>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><strong><span style="font-size: small;" mce_style="font-size: small;">2</span></strong></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><span style="font-size: small;" mce_style="font-size: small;">Уборка лестничных клеток</span></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p align="center"><span style="font-size: small;" mce_style="font-size: small;">**</span></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p align="center"><span style="font-size: small;" mce_style="font-size: small;"><strong>0,949</strong></span></p>
</td>

</tr>
<tr>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><strong><span style="font-size: small;" mce_style="font-size: small;">3</span></strong></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><span style="font-size: small;" mce_style="font-size: small;">Вывоз бытовых отходов (сбор , хранение, перевозка , переработка, утилизация , обезвреживание и захоронение)</span></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p style="text-align: center;" mce_style="text-align: center;"><span style="font-size: small;" mce_style="font-size: small;">Согласно договору</span></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p align="center"><span style="font-size: small;" mce_style="font-size: small;"><strong>0,259</strong><strong></strong></span></p>
</td>

</tr>
<tr><td colspan="1"><p><span style="font-size: small;" mce_style="font-size: small;"><b>3а</b></span></p></td><td colspan="1"><p><span style="font-size: small;" mce_style="font-size: small;">Уборка подвалов, техпомещений, крыши</span></p></td><td colspan="1"><br mce_bogus="1"></td><td colspan="1"><p><span style="font-size: small;" mce_style="font-size: small;"><b>0,007</b></span></p></td></tr><tr>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><strong><span style="font-size: small;" mce_style="font-size: small;">4</span></strong></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><span style="font-size: small;" mce_style="font-size: small;">Техническое обслуживание лифтов</span></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p align="center"><span style="font-size: small;" mce_style="font-size: small;">***</span></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p align="center"><span style="font-size: small;" mce_style="font-size: small;"><strong>0,087</strong></span></p>
</td>

</tr>
<tr>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><strong><span style="font-size: small;" mce_style="font-size: small;">5</span></strong></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><span style="font-size: small;" mce_style="font-size: small;">Обслуживание систем диспетчеризации</span></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p align="center"><span style="font-size: small;" mce_style="font-size: small;">*</span></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p align="center"><span style="font-size: small;" mce_style="font-size: small;"><strong>0,051</strong><strong></strong></span></p>
</td>

</tr>
<tr>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><strong><span style="font-size: small;" mce_style="font-size: small;">6</span></strong></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><span style="font-size: small;" mce_style="font-size: small;">Техническое обслуживание внутридомовых систем : горячего водоснабжения; холодного водоснабжения; водоотведения; централизованного отопления; ливневой канализации</span></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p align="center"><span style="font-size: small;" mce_style="font-size: small;">ежедневно</span></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p align="center"><span style="font-size: small;" mce_style="font-size: small;"><strong>0,634</strong><strong> <br /></strong></span></p>
</td>

</tr>
<tr>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><strong><span style="font-size: small;" mce_style="font-size: small;">7</span></strong></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><span style="font-size: small;" mce_style="font-size: small;">Дератизация</span></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999"><span style="font-size: small;" mce_style="font-size: small;"><br mce_bogus="1"></span></td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p align="center"><span style="font-size: small;" mce_style="font-size: small;"><strong>0,</strong><strong>025</strong></span></p>
</td>

</tr>
<tr>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><strong><span style="font-size: small;" mce_style="font-size: small;">8</span></strong></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><span style="font-size: small;" mce_style="font-size: small;">Дезинсекция</span></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999"><span style="font-size: small;" mce_style="font-size: small;"><br mce_bogus="1"></span></td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p align="center"><span style="font-size: small;" mce_style="font-size: small;"><strong>0,0</strong><strong>15</strong></span></p>
</td>

</tr>
<tr>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><strong><span style="font-size: small;" mce_style="font-size: small;">9</span></strong></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><span style="font-size: small;" mce_style="font-size: small;">Обслуживание дымовентиляционных каналов</span></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p style="text-align: center;" mce_style="text-align: center;"><span style="font-size: small;" mce_style="font-size: small;">1 раз в год</span></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p align="center"><span style="font-size: small;" mce_style="font-size: small;"><strong>0,0</strong><strong>22</strong></span></p>
</td>

</tr>
<tr>
<td style="border: 1px solid #999999;" mce_style="border: 1px solid #999999;">
<p><strong><span style="font-size: small;" mce_style="font-size: small;">10</span></strong></p>
</td>
<td style="border: 1px solid #999999;" mce_style="border: 1px solid #999999;"><span style="font-size: small;" mce_style="font-size: small;">Техническое обслуживание и текущий ремонт систем противопожарной автоматики и дымоудаления, а также других внутридомовых инженерных систем в случае необходимости<br /></span></td>
<td style="text-align: left; border: 1px solid #999999;" mce_style="text-align: left; border: 1px solid #999999;"><span style="font-size: small;" mce_style="font-size: small;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; *</span></td>
<td style="text-align: left; border: 1px solid #999999;" mce_style="text-align: left; border: 1px solid #999999;"><strong><span style="font-size: small;" mce_style="font-size: small;">0,022</span></strong></td>

</tr>
<tr>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><strong><span style="font-size: small;" mce_style="font-size: small;">11</span></strong></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><span style="font-size: small;" mce_style="font-size: small;">Полив двора , клумб и газонов</span></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p align="center"><span style="font-size: small;" mce_style="font-size: small;">*</span></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p align="center"><span style="font-size: small;" mce_style="font-size: small;"><strong>0,015</strong><strong></strong></span></p>
</td>

</tr>
<tr>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><strong><span style="font-size: small;" mce_style="font-size: small;">12</span></strong></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><span style="font-size: small;" mce_style="font-size: small;">Уборка и вывоз снега , посыпка части придомовой территории, предназначенной для прохода и проезда, противогололедными смесями</span></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p align="center"><span style="font-size: small;" mce_style="font-size: small;">*</span></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p align="center"><span style="font-size: small;" mce_style="font-size: small;"><strong>0,0</strong><strong>02</strong></span></p>
</td>

</tr>
<tr>
<td style="border: 1px solid #999999;" mce_style="border: 1px solid #999999;"><strong><span style="font-size: small;" mce_style="font-size: small;">13</span></strong></td>
<td style="border: 1px solid #999999;" mce_style="border: 1px solid #999999;"><span style="font-size: small;" mce_style="font-size: small;">Эксплуатация номерных знаков на домах</span></td>
<td style="border: 1px solid #999999;" mce_style="border: 1px solid #999999;"><span style="font-size: small;" mce_style="font-size: small;"><br mce_bogus="1"></span></td>
<td style="border: 1px solid #999999;" mce_style="border: 1px solid #999999;">
<p align="center"><span style="font-size: small;" mce_style="font-size: small;"><strong>0,0</strong><strong>00</strong></span></p>
</td>

</tr>
<tr>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><strong><span style="font-size: small;" mce_style="font-size: small;">14</span></strong></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><span style="font-size: small;" mce_style="font-size: small;">Освещение мест общего пользования и подвалов и подкачки воды</span></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p align="center"><span style="font-size: small;" mce_style="font-size: small;">ежедневно</span></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p align="center"><font size="2"><b>1,599</b></font></p>
</td>

</tr>
<tr>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><strong><span style="font-size: small;" mce_style="font-size: small;">15</span></strong></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><span style="font-size: small;" mce_style="font-size: small;">Энергоснабжение лифтов</span></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p align="center"><span style="font-size: small;" mce_style="font-size: small;">ежедневно</span></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p align="center"><strong><span style="font-size: small;" mce_style="font-size: small;">0,158</span></strong></p>
</td>

</tr>
<tr>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><span style="font-size: small;" mce_style="font-size: small;"><br /></span></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><strong><span style="font-size: small;" mce_style="font-size: small;">ИТОГО</span></strong></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999"><span style="font-size: small;" mce_style="font-size: small;"><br mce_bogus="1"></span></td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p align="center"><span style="font-size: small;" mce_style="font-size: small;"><strong>4,91</strong></span></p>
</td>

</tr>
<tr>
<td style="border: 1px solid #999999;" mce_style="border: 1px solid #999999;" valign="top"><span style="font-size: small;" mce_style="font-size: small;"><br mce_bogus="1"></span></td>
<td style="border: 1px solid #999999;" mce_style="border: 1px solid #999999;">
<p><span style="font-size: small;" mce_style="font-size: small;">Тариф для жильцов 1-го этажа</span></p>
</td>
<td style="border: 1px solid #999999;" mce_style="border: 1px solid #999999;"><span style="font-size: small;" mce_style="font-size: small;"><br mce_bogus="1"></span></td>
<td style="border: 1px solid #999999;" mce_style="border: 1px solid #999999;">
<p align="center"><font size="2"><b>4,67</b></font></p>
</td>

</tr>
<tr>
<td style="border: 1px solid #999999;" mce_style="border: 1px solid #999999;"><span style="font-size: small;" mce_style="font-size: small;"><br mce_bogus="1"></span></td>
<td style="border: 1px solid #999999;" mce_style="border: 1px solid #999999;"><span style="font-size: small;" mce_style="font-size: small;">Тариф для жильцов 2-го и выше этажей</span></td>
<td style="border: 1px solid #999999;" mce_style="border: 1px solid #999999;"><span style="font-size: small;" mce_style="font-size: small;"><br mce_bogus="1"></span></td>
<td style="border: 1px solid #999999;" mce_style="border: 1px solid #999999;">
<p align="center"><font size="2"><b>4,91</b></font></p>
</td>

</tr>
<tr>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" colspan="4" valign="top">
<p><span style="font-size: small;" mce_style="font-size: small;">* - Периодичность предоставления услуги - в соответствии с Правилами содержания жилых домов и придомовых территорий , <br /> утвержденными Приказом Госжилкоммунхоза Украины от 17.05.2005 № 76</span></p>
</td>
</tr>
<tr>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" colspan="4" valign="top">
<p><span style="font-size: small;" mce_style="font-size: small;">** - Периодичность предоставления услуги - в соответствии с Типовыми нормами времени и нормами обслуживания для рабочих и производственного персонала, занятых содержанием жилого фонда<br /><span style="line-height: 1.3em;" mce_style="line-height: 1.3em;"> (Приказ Государственного комитета Украины по жилищно - коммунальному хозяйству от 4 августа 1997 № 59 )</span></span></p>
</td>
</tr>
<tr>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" colspan="4" valign="top">
<p><span style="font-size: small;" mce_style="font-size: small;">*** - Периодичность предоставления услуги - согласно Положению о системе технического обслуживания и ремонта лифтов в Украине <br /> (Приказ Государственного комитета строительства , архитектуры и жилищной политики Украины от 10.04.2000 г. № 73 )</span></p>
</td>
</tr>
</tbody>
</table>
<p><br /></p>
<h3>б)Тарифы на коммунальные услуги</h3>
<table style="width: 696px; height: 146px;" border="0" cellspacing="2" cellpadding="2" height="146" class="mceItemTable">
<tbody>
<tr>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p align="center"><strong><span style="font-size: small;" mce_style="font-size: small;">№</span></strong></p>
<p align="center"><strong><span style="font-size: small;" mce_style="font-size: small;">п\п</span></strong></p>
</td>
<td style="border: 1px solid #999999;" mce_style="border: 1px solid #999999;" valign="middle">
<p align="center"><strong><span style="font-size: small;" mce_style="font-size: small;">Услуга</span></strong></p>
</td>
<td style="border: 1px solid #999999; text-align: center;" mce_style="border: 1px solid #999999; text-align: center;" valign="middle"><strong><span style="font-size: small;" mce_style="font-size: small;">Расчетная единица</span></strong></td>
<td style="border: 1px solid #999999; border-right: 3px rgb(23, 43, 93) solid;" mce_style="border: 1px solid #999999;" valign="top">
<p align="center"><span style="font-size: small;" mce_style="font-size: small;"><br /></span></p>
<p style="text-align: center;" mce_style="text-align: center;"><strong><span style="font-size: small;" mce_style="font-size: small;">Цена, грн</span></strong></p>
</td>
</tr>
<tr>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><strong><span style="font-size: small;" mce_style="font-size: small;">1</span></strong></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><span style="font-size: small;" mce_style="font-size: small;">Электроэнергия</span></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p style="text-align: center;" mce_style="text-align: center;"><span style="font-size: small;" mce_style="font-size: small;"><span style="color: rgb(0, 0, 0); line-height: normal;" mce_style="color: #000000; line-height: normal;">До 100 кВт/свыше 100/свыше 600</span><br /></span></p>
</td>
<td style="border: 1px solid #999999; border-right: 3px rgb(23, 43, 93) solid;" mce_style="border: 1px solid #999999" valign="top">
<p style="text-align: center;" mce_style="text-align: center;"><span style="font-size: small;" mce_style="font-size: small;"><span style="color: rgb(0, 0, 0); line-height: normal;" mce_style="color: #000000; line-height: normal;"><b style="">0,57/0,99/1,56</b></span><br /></span></p>
</td>
</tr>
<tr>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><strong><span style="font-size: small;" mce_style="font-size: small;">2</span></strong></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><span style="font-size: small;" mce_style="font-size: small;">Вода</span></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p style="text-align: center;" mce_style="text-align: center;"><span style="font-size: small;" mce_style="font-size: small;">1м3</span></p>
</td>
<td style="border: 1px solid #999999; border-right: 3px rgb(23, 43, 93) solid;" mce_style="border: 1px solid #999999" valign="top">
<p style="text-align: center;" mce_style="text-align: center;"><strong><span style="font-size: small;" mce_style="font-size: small;">10,296</span></strong></p>
</td>
</tr>
<tr>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><strong><span style="font-size: small;" mce_style="font-size: small;">3</span></strong></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><span style="font-size: small;" mce_style="font-size: small;">Газ*</span></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p style="text-align: left;" mce_style="text-align: left;"><span style="font-size: small;" mce_style="font-size: small;"><br /></span></p>
</td>
<td style="border: 1px solid #999999; border-right: 3px rgb(23, 43, 93) solid;" mce_style="border: 1px solid #999999" valign="top">
<p align="center"><strong><span style="font-size: small;" mce_style="font-size: small;"> </span></strong></p>
</td>
</tr>
<tr>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><strong><span style="font-size: small;" mce_style="font-size: small;">4</span></strong></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p><span style="font-size: small;" mce_style="font-size: small;">Отопление**</span></p>
</td>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" valign="top">
<p style="text-align: center;" mce_style="text-align: center;"><span style="font-size: small;" mce_style="font-size: small;">1Гкал</span></p>
</td>
<td style="border: 1px solid #999999; border-right: 3px rgb(23, 43, 93) solid;" mce_style="border: 1px solid #999999" valign="top">
<p style="text-align: center;" mce_style="text-align: center;"><strong><span style="font-size: small;" mce_style="font-size: small;">652,55</span></strong></p>
</td>
</tr>
<tr>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" colspan="5" valign="top">
<p><span style="font-size: small;" mce_style="font-size: small;">* -  по тарифам для населения, после заключения прямых договоров с Одессгаз</span></p>
</td>
</tr>
<tr>
<td style="border: 1px solid #999999" mce_style="border: 1px solid #999999" colspan="5" valign="top">
<p><span style="font-size: small;" mce_style="font-size: small;">** - будет зависеть от уличной температуры</span></p>
</td>
</tr>
</tbody>
</table><p><br mce_bogus="1"></p>

</td>
</tr>

</table>
</div>