

<!-- Response map -->
<section class="page" ng-init="sectionInit()">
    <!-- Section #1 directive -->
    <div class="map-frame">
        <!-- Background map image -->
        <img class="bg-img" src="assets/images/maps/tahiti/tahiti-section-new.jpg">
        <div class="map-info" >
            <img class="map-plans"   width="1950" height="1096" src="">
            <map>
                <area shape="poly" coords="552,882,995,881,995,842,553,843" alt="1" target="floor-1"  nohref="nohref" />
                <area shape="poly" coords="995,842,995,808,553,809,552,843" alt="2" target="floor-2"  nohref="nohref" />
                <area shape="poly" coords="552,809,551,774,994,775,995,808" alt="3" target="floor-3"  nohref="nohref" />
                <area shape="poly" coords="994,775,994,740,551,741,551,774" alt="4" target="floor-4"  nohref="nohref" />
                <area shape="poly" coords="551,741,551,707,995,707,995,740" alt="5" target="floor-5"  nohref="nohref" />
                <area shape="poly" coords="995,707,995,671,552,671,552,707" alt="6" target="floor-6"  nohref="nohref" />
                <area shape="poly" coords="995,671,995,639,551,638,551,671" alt="7" target="floor-7"  nohref="nohref" />
                <area shape="poly" coords="995,639,995,605,552,605,551,638" alt="8" target="floor-8"  nohref="nohref" />
                <area shape="poly" coords="552,605,552,573,995,574,995,605" alt="9" target="floor-9"  nohref="nohref" />
                <area shape="poly" coords="995,574,995,541,552,539,552,573" alt="10" target="floot-10"  nohref="nohref" />
                <area shape="poly" coords="995,541,995,507,551,506,552,539" alt="11" target="floor-11"  nohref="nohref" />
                <area shape="poly" coords="995,507,995,474,552,474,551,506" alt="12" target="floor-12"  nohref="nohref" />
                <area shape="poly" coords="995,474,995,440,552,439,552,474" alt="13" target="floor-13"  nohref="nohref" />
                <area shape="poly" coords="995,440,994,406,552,405,552,439" alt="14" target="floor-14"  nohref="nohref" />
                <area shape="poly" coords="995,406,995,373,552,372,552,405" alt="15" target="floor-15"  nohref="nohref" />
                <area shape="poly" coords="995,373,994,338,551,338,552,372" alt="16" target="floor-16"  nohref="nohref" />
                <area shape="poly" coords="995,338,995,304,551,302,551,338" alt="17" target="floor-17"  nohref="nohref" />
                <area shape="poly" coords="995,304,994,272,552,271,551,302" alt="18" target="floor-18"  nohref="nohref" />
                <area shape="poly" coords="994,272,995,239,551,239,552,271" alt="19" target="floor-19"  nohref="nohref" />
            </map>
        </div>
    </div>
</section>

