<!-- Buttons panel -->
<div class="buttons-panel">
    <!-- Button new home -->
    <div class="design-button photo-button">
        <a href="" class="button-img">
            <div class="button-text">
                Галерея<br/>
                <span>проекта</span>
            </div>
        </a>
        <div class="rotate-bg-1"></div>
        <div class="rotate-bg-2"></div>
        <div class="rotate-bg-3"></div>
    </div>
</div>

<div class="about">
    <div class="about-text">
        <h1 class="about-title">
            ЖИЛОЙ КОМПЛЕКС ОСТРОВА
        </h1>
        <div class="about-content">
            <p>
                ЖК Острова - новый жилой комплекс, расположенный на пересечении улиц Марсельской и Сахарова,
                в Суворовском районе.
            </p>
            <p>
                На 33 гектарах жилого комплекса «Острова» будут построены 15 высотных домов.
                Вид на море, уникальная инфраструктура, благоустройство и безопасность европейского уровня
                превращают ЖК «Острова» в самое перспективное предложение на рынке одесской недвижимости.
            </p>
            <p>
                Жилой комплекс «Острова» - это единственный новый крупный микрорайон в Суворовском районе с
                комплексной застройкой.
            </p>
            <p>
                На территории 33 гектара планируется построить 15 жилых домов, семь из которых построено согласно
                технологии крупноблочного домостроения, а восемь — монолитного.
            </p>
            <p>
                Микрорайон полностью автономен. Управляющая компания предоставляет услуги частного ЖЭКа, поэтому
                у жителей микрорайона никогда не возникнет проблем с коммунальными службами города. Кроме того,
                к услугам жильцов специалисты, которые будут заниматься плановыми и внеплановыми ремонтными
                работами.
            </p>
            <p>
                Важная часть современной жизни горожан — это удобство транспортной развязки и инфраструктуры.
                «Острова» обеспечивают одесситов всем необходимым. Ближайшая остановка общественного транспорта
                от комплекса всего в пяти минутах пешей прогулки, а его расположение позволяет без проблем добраться
                не только в любую точку города, но и за его пределы.

            </p>
            <p>
                Кроме того на территории ЖК будут расположены собственный детсад, что избавит молодые семьи от
                бесконечных очередей, школа, паркинг, ряд торгово-развлекательных центров и фитнес-клуб.
            </p>
            <p>
                Для предпринимателей также предусмотрены не только
                коммерческие, но и офисные помещения практически под любой вид бизнеса.
            </p>
            <p>
                Вся территория комплекса находится под охраной и благоустроена по европейским стандартам.
                Близость к морю также является неоспоримым плюсом для инвесторов ЖК «Острова»<span class=""></span>
            </p>
        </div>
    </div>
</div>