<!-- Buttons panel -->
<div class="buttons-panel">
    <!-- Button new home -->
    <div class="design-button photo-button">
        <a href="" class="button-img">
            <div class="button-text">
                Галерея<br/>
                <span>проекта</span>
            </div>
        </a>
        <div class="rotate-bg-1"></div>
        <div class="rotate-bg-2"></div>
        <div class="rotate-bg-3"></div>
    </div>
</div>

<div class="about">
<img class="bg-img" src="../../images/backgrounds/about.png">
    <div class="about-text">
        <h1 class="about-title">
            ЖИЛОЙ КОМПЛЕКС ОСТРОВА
        </h1>
        <div class="about-content">
            <p>
                ЖК Острова - новый жилой комплекс, расположенный на пересечении улиц Марсельской и Сахарова, в Суворовском районе.

            </p>
            <ul>
                <li>«ОСТРОВА» - первый за 25 лет микрорайон комплексной застройки</li>
                <li>В 2016 году уже сдано и заселено 6 из 15 домов микрорайона</li>
                <li>Вид на море и близость моря</li>
                <li>Полная автономия и частный ЖЭК</li>
                <li>Консьерж-сервис, колясочные и благоустроенные холлы  в каждом доме и каждой секции</li>
                <li>Удобные планировки оптимальной площади</li>
                <li>Площадь цветников и газонов больше площади застройки по берлинскому принципу</li>
                <li>Новый муниципальный детский сад</li>
                <li>Закрытая охраняемая территория с видеонаблюдением</li>
                <li>Лучшие детские площадки, уличные шахматы, беседки и розарий</li>
                <li>Фитнес-клуб, мини-стадион с искусственным покрытием, тренажерная площадка</li>
                <li>Детские клубы, продуктовые магазины, салон красоты, аптека</li>
                <li>Отличная транспортная развязка с выходом на Сахарова, Марсельскую и ул. С Палия (бывшая Днепропетровская дорога)</li>
            </ul>
        </div>
    </div>
</div>