

<!-- Response map -->
<section class="page" ng-init="sectionInit()">
<a class="back-button" href="#/korpus/{{ id }}"></a>
    <!-- Section #1 directive -->
    <div class="map-frame">
        <!-- Background map image -->
        <img class="bg-img" src="../../images/maps/tahiti/section-{{id}}.jpg">
        <div class="map-info">
            <img  class="map-plans"   width="1950" height="1096" src="">
            <map >
                <area ng-repeat="(i, path) in paths" shape="poly" coords="{{path}}" alt="{{i+1}}" target="floor-1"  nohref="nohref" />
            </map>
        </div>
        <div class="popup-menu">
            <!-- Popup item -->
            <div class="section-floor" data-target="1">
                <div class="corps-link-popup">
                    <div class="corps-popup-title">
                        110
                        <div class="corps-text">
                            квартир
                            <div>
                                в продаже
                            </div>
                        </div>
                    </div>
                    <div class="corps-popup f1">
                        10
                        <span>
                                1-комнатных
                            </span>
                    </div>
                    <div class="corps-popup f2">
                        10
                        <span>
                                2-комнатных
                            </span>
                    </div>
                    <div class="corps-popup f3">
                        10
                        <span>
                                3-комнатных
                            </span>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>
