<!-- Response map -->
<section class="page" ng-init="sectionInit()">
    <!-- Section #1 floor directive -->
    <div class="map-frame">
        <!-- Background map image -->
        <img class="bg-img" src="assets/images/maps/tahiti/floor-section-1.jpg">
        <div class="map-info" >
            <img class="map-plans"   width="1950" height="1096" src="">
            <map>
                <area shape="poly" coords="256,272,520,272,521,528,455,529,455,611,356,611,356,530,256,530" alt="1" target="flat-1"  nohref="nohref" />
                <area shape="poly" coords="455,611,521,611,521,869,255,869,256,530,356,530,356,611" alt="2" target="flat-2"  nohref="nohref" />
                <area shape="poly" coords="521,611,899,612,898,869,521,869" alt="3" target="flat-3"  nohref="nohref" />
                <area shape="poly" coords="899,612,1163,612,1164,869,898,869" alt="4" target="flat-4"  nohref="nohref" />
                <area shape="poly" coords="1163,612,1563,612,1564,869,1164,869" alt="5" target="fla-5"  nohref="nohref" />
                <area shape="poly" coords="1337,612,1563,612,1564,869,1694,869,1694,272,1429,271,1429,528,1337,528" alt="6" target="flat-6"  nohref="nohref" />
                <area shape="poly" coords="1337,528,1050,527,1051,272,1429,271,1429,528" alt="7" target="flat-7"  nohref="nohref" />
                <area shape="poly" coords="520,272,785,272,786,529,521,528" alt="8" target="flat-8"  nohref="nohref" />
            </map>
        </div>
    </div>
</section>