<section class="page sales-dep">
	<img class="bg-img" src="../../images/backgrounds/contacts-bg.png">
	<div class="left-sidebar">
		<div style="color: rgb(10,28,74);">контакты</div>
	</div>
</section>

<!-- Buttons panel -->
<div class="buttons-panel">
    <!-- Button new home -->
    <div class="design-button contacts-button">
        <a  class="button-img">
            <div class="button-text">
                <address>
                Одесса<br>
                ул. Марсельская, 48
               	<div>
                + 38 048 700 18 18<br>
                + 38 048 700 23 37
                <br style="margin-bottom: 12px;">
                info@ostrova.od.ua
                </div>
                </address>     
                <div style="font-size: 0.8em;font-weight: 300;">        
                Часы работы:<br> пн-пт: 10.00 - 19.00<br>
                сб, вс: 10.00 - 16.00<br>
                
            	</div>
            </div>
        </a>
        <div class="rotate-bg-1"></div>
        <div class="rotate-bg-2"></div>
        <div class="rotate-bg-3"></div>
    </div>
</div>