<!-- Buttons panel -->
<div class="buttons-panel">
    <!-- Button new home -->
    <div class="design-button photo-button">
        <a href="" class="button-img">
            <div class="button-text">
                Галерея<br/>
                <span>проекта</span>
            </div>
        </a>
        <div class="rotate-bg-1"></div>
        <div class="rotate-bg-2"></div>
        <div class="rotate-bg-3"></div>
    </div>
</div>

<!-- Advantages -->
<div class="advantages">
    <div class="advantages-text">
        <h1>комфортная жизнь в новом доме жк Острова</h1>
        <div class="advantages-content">
            <!-- Item -->
            <div class="advantages-item">
                <div class="advantages-img"></div>
                <div class="advantages-item-text">
                    <span>9 га</span>
                    территория всего микрорайона
                </div>
            </div>
            <!-- Item -->
            <div class="advantages-item">
                <div class="advantages-img"></div>
                <div class="advantages-item-text">
                    <span>15</span>
                    жилых домов монолитного и блочного домостроенния
                </div>
            </div>
            <!-- Item -->
            <div class="advantages-item">
                <div class="advantages-img"></div>
                <div class="advantages-item-text">
                    <span>23 350</span>
                    комфортабельных 1, 2 и 3-х комнатных квартир
                </div>
            </div>
            <!-- Item -->
            <div class="advantages-item">
                <div class="advantages-img"></div>
                <div class="advantages-item-text">
                    <span>80 900м</span>
                    новых инженерных коммуникаций
                </div>
            </div>
            <!-- Item -->
            <div class="advantages-item">
                <div class="advantages-img"></div>
                <div class="advantages-item-text">
                    <span>1 000</span>
                    мест в новой школе
                </div>
            </div>
            <!-- Item -->
            <div class="advantages-item">
                <div class="advantages-img"></div>
                <div class="advantages-item-text">
                    <span>280</span>
                    мест в детском саду
                </div>
            </div>
            <!-- Item -->
            <div class="advantages-item">
                <div class="advantages-img"></div>
                <div class="advantages-item-text">
                    <span>10 га</span>
                    благоустроенной территории с детскими, спортивными площадками, аллеями и скверами
                </div>
            </div>
            <!-- Item -->
            <div class="advantages-item">
                <div class="advantages-img"></div>
                <div class="advantages-item-text">
                    <span>50 000м&#178;</span>
                    офисной и коммерческой недвижимости
                </div>
            </div>
        </div>
    </div>
</div>