<!-- Price -->

<div class="price">
    <h1>Стоимость квартир</h1>
    <h2>Цены на квартиры в ЖК «Острова» на период с 1 мая по 31 мая 2016 года</h2>

    <div class="price-table">

        <h2 style="text-decoration: underline">Ж/д 29а – дом сдан</h2>

        <table align="center" border="1">
            <tbody>
            <tr>
                <td >№п/п<br></td>
                <td >Площадь</td>
                <td >Цена м.кв./грн.</td>
                <td >Стоимость квартиры<br></td>

            </tr>
            <tr>
                <td colspan="4" align="center" valign="middle">Однокомнатные</td>
            </tr>


            <tr><td colspan="1"> 1</td><td colspan="1">43,6</td>
                <td colspan="1">18000</td>
                <td colspan="1"> 784800</td>
            </tr>
            <tr >
                <td colspan="4" >Двухкомнатные</td>
            </tr>
            <tr>
                <td colspan="1"> 1</td><td colspan="1"> 60,8</td>
                <td colspan="1">17000</td>
                <td colspan="1"> 1033600</td></tr></tbody>
        </table>

        <h2 style="text-decoration: underline">Ж/д 30 – сдача 2 квартал 2016 года*</h2>

        <table align="center" border="1">
            <tbody>
            <tr>
                <td >№п/п<br></td>
                <td >Площадь</td>
                <td >Цена м.кв./грн.</td>
                <td >Стоимость квартиры<br></td>
            </tr>
            <tr>
                <td colspan="4">Однокомнатные</td>
            </tr>
            <tr><td colspan="1"> 1</td><td colspan="1">43,6</td>
                <td colspan="1"> 16500</td>
                <td colspan="1">719400</td>
            </tr>
            <tr><td colspan="1">2</td>
                <td colspan="1">60,8</td>
                <td colspan="1">15500</td>
                <td colspan="1">942400</td></tr>
            <tr>
                <td colspan="4">Двухкомнатные</td>
            </tr>
            <tr>
                <td >1</td>
                <td >55</td>
                <td >16500</td><td style="text-align: center;" mce_style="text-align: center;">907500</td>
            </tr>


            </tbody>
        </table>
        <p>* Стоимость квартир с панорамным остеклением составляет + 20 у.е. за кв.м. к стоимости указанной в таблице.</p>
    </div>
    <div class="price-table">
        <h2>Рассрочка в зависимости от первого платежа</h2>

        <p>Рассрочка при минимальном первом взносе  7 000 у.е.  - плюс 100 у.е. к кв.м.</p>

        <h2 style="text-decoration: underline">Ж/д Фиджи 33 - сдача 4 квартал  2016 года*</h2>

        <table align="center" border="1">
            <tbody>
            <tr>
                <td >№п/п<br></td>
                <td >Площадь</td>
                <td >Цена м.кв./грн.</td>
                <td >Стоимость квартиры<br></td>
            </tr>
            <tr>
                <td colspan="4" >Однокомнатные</td>
            </tr>
            <tr>
                <td >1<br></td>
                <td >44.17<br></td>
                <td >16000</td>
                <td >706720</td>
            </tr>
            <tr>
                <td >2</td>
                <td >39.70</td>
                <td >16000</td>
                <td >635200</td>
            </tr>
            <tr>
                <td>3</td>
                <td>44,31</td>
                <td>16000</td>
                <td>708960</td>
            </tr>
            <tr>
                <td>4</td>
                <td>39.62</td>
                <td>16000</td>
                <td>633920</td>
            </tr>
            <tr>
                <td colspan="4">Двухкомнатные</td>
            </tr>


            <tr><td colspan="1">1</td>
                <td colspan="1"> 51.21</td>
                <td colspan="1">16000</td>
                <td colspan="1">819360</td>
            </tr>
            <tr>
                <td colspan="1"> 2</td>
                <td colspan="1">60,64</td>
                <td colspan="1">16000</td>
                <td colspan="1">970240</td>
            </tr>
            <tr>
                <td colspan="1">3</td>
                <td colspan="1">71,95</td>
                <td colspan="1">16000</td>
                <td colspan="1">1151200</td>
            </tr>
            </tbody>
        </table>

        <p>* Рассрочка на 3 года с первым взносом 30 % по 700 у.е. кв.м.</p>

        <h2 style="text-decoration: underline">Ж/д Таити - сдача 4 квартал  2017 года*</h2>

        <table align="center" border="1">
            <tbody>
            <tr>
                <td>№п/п<br></td>
                <td >Площадь</td>
                <td>Цена м.кв./грн.</td>
                <td >Стоимость квартиры<br></td>
            </tr>
            <tr>
                <td colspan="4" >Однокомнатные</td>
            </tr>
            <tr>
                <td >1<br></td>
                <td >43,14<br></td>
                <td>13000</td>
                <td>560820</td>
            </tr>
            <tr>
                <td>2</td>
                <td>43,72</td>
                <td>13000</td>
                <td>568360</td>
            </tr>
            <tr>
                <td>3</td>
                <td>44,19</td>
                <td>13000</td>
                <td>574470</td>
            </tr>
            <tr>
                <td>4</td>
                <td>48,16</td>
                <td>13000</td>
                <td>626080</td>
            </tr>
            <tr>
                <td colspan="1">5</td>
                <td colspan="1">48,8</td>
                <td colspan="1">13000</td>
                <td colspan="1">634400</td>
            </tr>
            <tr>
                <td colspan="4">Двухкомнатные</td>
            </tr>
            <tr>
                <td>1</td>
                <td>61,86</td>
                <td>12500</td>
                <td>773250</td>
            </tr>
            <tr>
                <td>2</td>
                <td>62,27</td>
                <td>12500</td>
                <td>778375</td>
            </tr>

            <tr align="center">
                <td colspan="4">Трёхкомнатные</td>
            </tr>
            <tr>
                <td>1</td>
                <td>106,33</td>
                <td>12100</td>
                <td>1 286 593</td>
            </tr>
            </tbody>
        </table>

        <p>Панорамное остекление с 10 этажа + 400 грн на кв.м.</p>
    </div>
</div>